/*Common Settings*/
/*
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*/

.debug {
    height: 100px;
    background-color: bisque;
    border: 1px solid red;
}

/*General Settings*/
.container_80 {
    margin: 0 auto;
    max-width: 1140px;
}

.d_flex {
    display: flex;
}

.column {
    flex-direction: column;
}

/*Header*/
.main_header {
    background-color: red;
    
}

.logo {
    background-color: white;
    width: 250px;
    height: 35px;
}

.nav {
    background-color: white;
    width: 600px;
    height: 35px;
}

.margin_left_right_auto {
    margin: 0 auto;
}

/*Main*/
.bg_blue {
    background-color: blue;
}

.avatar_image {
    background-color: white;
    height: 350px;
    width: 500px;
}

.cover_texts {
    background-color: red;
    height: 250px;
    width: 750px;
}

.portfolio_container {
    background-color: white;
    height: 500px;
}