/*General Settings*/
.d_flex {
    display: flex;
}

.column {
    flex-direction: column;
}

/*Header*/
.logo {
    color: white;
    text-decoration: none;
    font-weight: 800;
    font-size: 20px;
}

.margin_left_right_auto {
    margin: 0 auto;
}

/*Main*/
.bg_blue {
    background-color: #2C3E50;
}

.align_items_center {
    align-items: center;
}

.filter_invert {
    filter: invert;
}

.divisor_title {
    font-size: 75px;
}

.bg_green {
    background-color: #1ABC9C;
}

.margin_left_auto {
    margin-left: auto;
}

.margin_right_auto {
    margin-right: auto;
}

.fa-star {
    font-size: 35px;
}

.bg_red {
    background-color: red;
}

.bg_white {
    background-color: white;
}

.bg_black {
    background-color: black;
}

.bg_lightblue {
    background-color: #3A546D;
}

.color_white {
    color: white;
}

.card_image {
    max-width: 100%;
    
}

.color_black {
    color: black;
}

.avatar_image {
    width: 300px;
}

.border_bottom {
    border: 1px solid black;
}

.rectangle_divisor {
    height: 5px;
    background-color: white;
    width: 300px;
}

.portfolio_title {
    background-color: blue;
    height: 150px;
}

.portfolio_image {
    background-color: red;
    height: 250px;
}

.about_title {
    background-color: white;
    height: 150px;
}

.download_button {
    height: 30px;
    background-color: white;
    width: 100px;
}

.copyright_text {
    height: 50px;
    width: 250px;
    background-color: white;
}

.menu_footer_text {
    font-size: 25px;
}

.social_icon {
    font-size: 35px;
    display: block;
}

.vertical_align_middle {
    vertical-align: middle;
}

.square_social {
    width: 75px;
    height: 75px;
    border: 1px solid white;
    border-radius: 50%;
}

.divisor_section {
    width: 100%;
}

.rectangle_star_w::before {
    content: '';
    height: 5px;
    width: 35%;
    display: inline-block;
    background-color: rgb(255, 255, 255);
    vertical-align: middle;
    margin-right: 15px;
}

.rectangle_star_w::after {
    content: '';
    height: 5px;
    width: 35%;
    display: inline-block;
    background-color: rgb(255, 255, 255);
    vertical-align: middle;
    margin-left: 15px;
}

.rectangle_star_b::before {
    content: '';
    height: 5px;
    width: 35%;
    display: inline-block;
    background-color: rgb(0, 0, 0);
    vertical-align: middle;
    margin-right: 15px;
}

.rectangle_star_b::after {
    content: '';
    height: 5px;
    width: 35%;
    display: inline-block;
    background-color: rgb(0, 0, 0);
    vertical-align: middle;
    margin-left: 15px;
}

@media screen and (max-width:992px) {

    .divisor_section {
        width: 100%;
    }

}

@media screen and (max-width:768px) {

    .divisor_section {
        width: 100%;
    }

}